<!DOCTYPE html>
<html>
<head>
  <title>TimeCard</title>
  <%= stylesheet_link_tag :all, :cache=>'all-ur-css-r-belong-to-us' %>
  <%= javascript_include_tag :defaults, :cache=>'all-ur-js-r-belong-to-us' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
